{% if canteen_list %}
    <div class="container">
        <div class="row">
    {% for canteen in canteen_list %}
            <div class="col-md-4">
                <h2>{{ canteen.name }}</h2>
                <a href="/food/?canteen={{ canteen.id }}">
                    <img class="img-thumbnail" src="{{ STATIC_URL }}{{ canteen.img }}">
                </a>
                <hr/>
                <p>{{ canteen.description }}</p>
            </div>
    {% endfor %}
        </div>
    </div>
    <hr>
{% endif %}