    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ pro.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="nav_home" class="">
                        <a href="/">Home</a>
                    </li>
                    <li id="nav_order">
                        <a href="/order">订单</a>
                    </li>
                    <li id="nav_info">
                        <a href="{% if user.is_authenticated %}/info{% else %}/user{% endif %}">信息</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <a href="/info"><button class="btn btn-info" type="button">{{ user.username }}</button></a>
                    </div>
                    <div class="form-group">
                        <a href="{% url 'logout' %}"><button class="btn btn-warning" type="button">退出</button></a>
                    </div>
                </form>
                {% else %}
                <form class="navbar-form navbar-right" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="username" class="form-control" type="text" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <input name="password" class="form-control" type="password" placeholder="密码">
                    </div>
                    <div class="form-group">
                        <a href="/info"><button class="btn btn-success" type="submit">登陆</button></a>
                    </div>
                    <div class="form-group">
                        <a href="/regist"><button class="btn btn-info" type="button">注册</button></a>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        SetNavActive("{{ url_name }}");
    </script>