{% extends 'base.html' %}
{% block nav %}
    {% include 'base_nav.html' %}
{% endblock %}
{% block content %}
    <div class="first_div">
        <div class="jumbotron">
            <div class="container">
                <h2>{{ html_title }}</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <a href="/canteen">
            <button class="btn btn-lg btn-info">食堂</button>
        </a>
    </div>
{% include 'base_canteen.html' %}

    <div class="container">
        <a href="/food">
            <button class="btn btn-lg btn-info">菜单</button>
        </a>
    </div>
{% include 'base_food.html' %}

{% endblock %}
