{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ html_title }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="">Order</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Sign In</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info" type="button">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h2>{{ html_title }}</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Tietle</h2>
                <p>Info</p>
            </div>
        </div>
    </div>
    <hr>
</body>

{% endblock %}